html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.email-section{
  width: 70%;
  margin: auto;
  background-color: blue;
  margin-bottom: 70px;
}
.footer-icon{
  margin: 10px;
  background-color: #2C303A;
  padding: 10px;
  border-radius: 10px;
}
